page-end-game {
    
    ion-content.content, ion-content.content-md {
        
        background-color: $violeta;    

        ion-img{
            background-color: transparent;
            width: 238px;
            height: auto;
        }

    }

    ion-footer{
        padding: 0 24px 24px 24px;
    }
    

}
