page-game {
    ion-content.content, ion-content.content-md {
        background-color: $violeta;
        ion-grid{
            height: 100%;
            ion-row{
                height: 100%;
                &#header{
                    height: 36px;
                    margin-bottom: 16px;
                    .vidas{
                        height: 26px;
                        padding-left: 6px;
                    }
                }
                ion-col{    
                    
                    &[col-sm-6] {
                        padding: 0px;
                        margin:0;
                        text-align: center;
                        ion-img{
                            width: 170px;
                            height: 100%;
                            img {
                                
                            }

                        }
                    }
                    
                    p{
                        color: white;
                        font-size: 14pt;
                        margin:0;
                    }

                }
            }
        }
        }
        ion-img{
            background-color: transparent;
            height: 100%;
            
            
        }
        ion-img{
            margin-right: 0;
            
        }
}
