page-game {
    ion-content.content, ion-content.content-md {
        background-color: $violeta;
        ion-grid{
            height: 100%;
            ion-row{
                height: 100%;
                &#header{
                    height: 36px;
                    margin-bottom: 16px;
                    .vidas{
                        height: 26px;
                        padding-left: 6px;
                    }
                }
                ion-col{    
                    
                    .flip-card {
                        background-color: transparent;
                        width: 170px;
                        perspective: 1000px; /* Remove this if you don't want the 3D effect */
                        height: 100%;
                        /* Do an horizontal flip when you move the mouse over the flip box container */
                        /*&:hover .flip-card-inner,*/ &.clicked .flip-card-inner {
                            transform: rotateY(180deg);
                        }
                        /* This container is needed to position the front and back side */
                        .flip-card-inner {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            transition: transform 0.8s;
                            transform-style: preserve-3d;
                            /* Position the front and back side */
                            .flip-card-front, .flip-card-back {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                backface-visibility: hidden;
                            }
                            /* Style the back side */
                            .flip-card-back {
                                transform: rotateY(180deg);
                            }
                        }
                    }

                    &[col-sm-6] {
                        padding: 0px;
                        margin:0;
                        text-align: center;
                        ion-img{
                            width: 170px;
                            height: 100%;
                        }
                    }
                    
                    p{
                        color: white;
                        font-size: 14pt;
                        margin:0;
                    }

                }
            }
        }
        }
        ion-img{
            background-color: transparent;
            height: 100%;
            
            
        }
        ion-img{
            margin-right: 0;
            
        }
}
