page-game {
    ion-content.content, ion-content.content-md {
        background-color: $violeta;
        ion-grid{

            ion-row{
                &#header{
                    height: 36px;
                }
                ion-col{    
                    
                    &[col-6] {
                        padding: 0;
                    }
                    
                    p{
                        color: white;
                        font-size: 14pt;
                        margin:0;
                    }

                }
            }
        }
        }
        ion-img{
            background-color: transparent;
            &.vidas{
                min-height: 26px;
            }
            
        }
        ion-img{
            margin-right: 0;
            
        }
}
